<%= title l(:label_psc_control_point_edit) %>

<h2><%= l(:label_psc_control_point_edit) %>: <%= @control_point.full_control_id %></h2>
<p><strong><%= l(:label_psc_category) %>:</strong> <%= @category.code %> - <%= @category.name %></p>

<%= form_tag(project_psc_category_psc_control_point_path(@project, @category, @control_point), method: :patch) do %>
  <div class="box tabular">
    <%= render partial: 'form' %>
  </div>

  <p>
    <%= submit_tag l(:button_save) %>
    <%= link_to l(:button_cancel), project_psc_category_path(@project, @category) %>
  </p>
<% end %>
