<%= title "#{l(:label_psc_category_edit)}: #{@category.name}" %>

<%= form_tag(project_psc_category_path(@project, @category), method: :patch) do %>
  <div class="box tabular">
    <%= render partial: 'form' %>
  </div>

  <p>
    <%= submit_tag l(:button_save) %>
    <%= link_to l(:button_cancel), project_psc_categories_path(@project) %>
  </p>
<% end %>
